body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e0f7fa;
}
.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
input, button {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.text{
  margin-right: 20px;
}
button {
  background-color: #00796b;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #004d40;
}
a {
  color: #00796b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
