body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .row{
    height: 80vh;
    color: #f1f1f1;
  }
  .logo{
    width: 30px;
  }
  header a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 1rem;
  }
  
  footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
  }
  
  img {
    border-radius: 8px;
  }
